@import './reset.less';

html, body{
  height: 100%;
  background-color: #f6f6f6;
}
#app{
  height: 100%;
}
.login-container{
  height: 100%;
  background: url(../images/bg.avif) no-repeat center;
  background-size: cover;
  overflow: auto;
  .login-wrap{
    width: 460px;
    padding: 30px 60px 10px;
    margin: 180px auto 60px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    h2{
      padding-bottom: 20px;
    }
  }
}
.manager-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  .manager-header{
    height: 120px;
    background-color: bisque;
  }
  .manager-body{
    display: flex;
    flex: 1;
    height: 100%;
    .manager-menu{
      width: 200px;
      height: 100%;
      padding-top: 20px;
      overflow: auto;
      background-color: #001529;
    }
    .manager-content{
      flex: 1;
      height: 100%;
      background-color: aquamarine;
      overflow: auto;
    }
  }
}

.btn-area{
  padding: 20px 20px 30px;
}
.mt10{
  margin-top: 10px;
}
